.nav-link{
    margin: 0 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.header{
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    z-index: 20;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    width: 100%;
}
