.carousel-content{
    position: relative;
    padding-top: 60px;
}
.datPhimNhanh{
    z-index: 10;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 400px) {
    #carouselExampleFade{
        display: none;
    }
 }